.hero-image {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #00000f 74%);
}
.profile-card {
    margin-top: 10%;
}
.bg-nn {
  background-color: #182b3a;
  background-image: linear-gradient(315deg, #20a4f3 0%, #00001a 74%);
}
.project-image:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  z-index: 100 !important ;
  margin-bottom: 1rem;
}